@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
main {
  padding: 5px; }

nav img {
  width: 10%; }

nav ul li a {
  color: #fff; }
  nav ul li a:hover {
    color: #255255; }

section h3 form {
  display: grid;
  padding: auto; }

.form {
  padding: auto; }

.form__option {
  margin: auto;
  overflow: hidden;
  text-align: center;
  display: block;
  margin: 1rem; }

.form__option--blue {
  color: #252056; }
